details {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  width: 35rem;
}

input[type="number"] {
  text-align: right;
  width: 5rem;
}

div {
  display: flex;
  justify-content: space-between;
}

button[type="submit"] {
  justify-content: flex-end;
}
